body{
	margin: 0;
	padding: 0;
	background: #d4d4d4;
}
.board{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 480px;
	height: 480px;
	transform: translate(-50%,-50%) rotate(-30deg) skew(25deg);
	background: #000;
	box-shadow: -50px 50px 50px rgba(0,0,0,.5);
	animation: hover 2s ease-in-out 0s infinite;
	transition: 0.5s;
}
.board *{
	user-select: none;
}
.board.end *,.board.end{
	animation: end 5s 5s forwards;
}
@keyframes end{
	0%{
		filter: blur(0px);
		opacity: 1;
	}
	100%{
		filter: blur(100px);
		opacity: 0;
	}
}
@keyframes hover{
	0%{
		transform: translate(-50%,-50%) rotate(-30deg) skew(25deg);
		box-shadow: -50px 50px 50px rgba(0,0,0,.5);
	}
	50%{
		transform: translate(-50%,-50.5%) rotate(-30deg) skew(25deg);
		box-shadow: -55px 55px 50px rgba(0,0,0,.4);
	}
	100%{
		transform: translate(-50%,-50%) rotate(-30deg) skew(25deg);
		box-shadow: -50px 50px 50px rgba(0,0,0,.5);
	}
}
.board>.back{
	z-index: 1;
}
.board>span.row{
	width: 480px;
	height: 60px;
	display: block;
}
.board>span.row:nth-child(even){
	background: linear-gradient(90deg,#f1f1f1 0%,#f1f1f1 50%,#303030 50%,#303030 100%);
	background-size: 120px;
}
.board>span.row:nth-child(odd){
	background: linear-gradient(90deg,#303030 0%,#303030 50%,#f1f1f1 50%,#f1f1f1 100%);
	background-size: 120px;
}
.board:before{
	content: "";
	position: absolute;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: linear-gradient(180deg,#fff 0%,#fff 50%,#202020 50%,#202020 100%);
	background-size: 100% 120px;
	transform: rotate(0deg) skewY(-45deg);
}
.board:after{
	content: "";
	position: absolute;
	bottom: -20px;
	left: -10px;
	height: 20px;
	width: 100%;
	background: linear-gradient(90deg,#202020 0%,#202020 50%,#fff 50%,#fff 100%);
	background-size: 120px;
	transform: rotate(0deg) skewX(-45deg);
}
.board>.fig{
	position: absolute;
	width: 60px;
	height: 60px;
	top: 0;
	left: 0;
	transition: top 0.5s,left 0.5s,box-shadow 0.2s;
	text-align: center;
	line-height: 60px;
	font-size: 60px;
	border-radius: 10%;
}
.board>.fig.white.die{
	transition: transform 1.5s,filter 1.5s,opacity 1.5s;
	transition-timing-function: ease-out;
	filter: blur(30px);
	opacity: 0.5;
	transform: translate(100px,-100px) scale(2) rotate(0deg) !important;
}
.board>.fig.black.die{
	transition: transform 1.5s,filter 1.5s,opacity 1.5s;
	transition-timing-function: ease-out;
	filter: blur(30px);
	opacity: 0.5;
	transform: translate(100px,-100px) scale(2) rotate(180deg) !important;
}
.board>.fig.white.appear{
	transition: none;
	filter: blur(30px);
	transform: translate(100px,-100px) scale(2) rotate(180deg) !important;
	color: #f1f1f1 !important;
	animation: appearW 1.5s ease-out forwards;
}
@keyframes appearW{
	0%{
		filter: blur(30px);
		opacity: 0.5;
		transform: translate(100px,-100px) scale(2) rotate(180deg);
	}
	100%{
		filter: blur(0);
		opacity: 1;
		transform: translate(0px,0px) scale(0.8) rotate(180deg);
	}
}
.board>.fig.black.appear{
	transition: none;
	filter: blur(30px);
	transform: translate(100px,-100px) scale(2) rotate(0deg) !important;
	color: #303030 !important;
	animation: appearB 1.5s ease-out forwards;
}
@keyframes appearB{
	0%{
		filter: blur(30px);
		transform: translate(100px,-100px) scale(2) rotate(0deg);
	}
	100%{
		filter: blur(0);
		transform: translate(0px,0px) scale(0.8) rotate(0deg);
	}
}
.board>.fig.mv{
	z-index: 2;
}
.board>.fig.nhv.mhv{
	box-shadow: inset 0px 0px 10px #ffd700,0px 0px 15px #ffd700;
}
.board>.fig.hv{
	box-shadow: inset 0px 0px 10px #ffd700,0px 0px 15px #ffd700,inset 0px 0px 10px #ffd700,0px 0px 10px #ffd700;
}
.board>.hitbox{
	position: absolute;
	width: 60px;
	height: 60px;
	top: 0;
	left: 0;
	display: none;
}
.board>.hitbox>span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 10px;
	height: 10px;
	opacity: 0;
	border-radius: 50%;
	box-shadow: inset 0px 0px 10px #00ff38,0px 0px 10px #00ff38,inset 0px 0px 10px #00ff38,0px 0px 10px #00ff38;
	transition: opacity 0.3s,width 0.3s,height 0.3s;
}
.board>.hitbox.d>span{
	box-shadow: inset 0px 0px 10px #ff0038,0px 0px 10px #ff0038,inset 0px 0px 10px #ff0038,0px 0px 10px #ff0038;
}
.board>.hitbox:hover>span{
	width: 55px;
	height: 55px;
	border-radius: 10%;
}
.board>.hitbox.o{
	display: initial;
}
.board>.hitbox.o>span{
	animation: reveal 0.5s forwards;
}
.board>.hitbox:not(.o)>span{
	animation: reveal 0.5s backwards;
}
@keyframes reveal{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.board>.over{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	display: none;
}
.board>.over:before{
	content: "";
	position: absolute;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: rgba(0,0,0,0.2);
	transform: rotate(0deg) skewY(-45deg);
	z-index: 2;
}
.board>.over:after{
	content: "";
	position: absolute;
	bottom: -20px;
	left: -10px;
	height: 20px;
	width: 100%;
	background: rgba(0,0,0,0.2);
	transform: rotate(0deg) skewX(-45deg);
	z-index: 2;
}
.board>.over:not(.hide){
	display: inherit;
}
.board>.over>span{
	position: absolute;
	top: 50%;
	left: 0px;
	width: 60px;
	height: 60px;
	display: block;
	line-height: 60px;
	text-align: center;
	font-size: 60px;
	transform: translate(0,-50%);
	mix-blend-mode: screen;
	border-radius: 10%;
}
.board>.over>span:nth-child(1){
	left: 120px;
}
.board>.over>span:nth-child(2){
	left: 180px;
}
.board>.over>span:nth-child(3){
	left: 240px;
}
.board>.over>span:nth-child(4){
	left: 300px;
}
.board>.over>span:hover{
	box-shadow: inset 0px 0px 10px #ffd700,0px 0px 15px #ffd700,inset 0px 0px 10px #ffd700,0px 0px 15px #ffd700;
}